head
  //- link(rel='stylesheet', href='/stylesheets/header.css')

body
  header(class='mb-3 border-bottom navbar sticky-top navbar-expand bg-body')
    div(class='d-flex container-fluid')
      a(class='navbar-brand' href='#')= title
      div(class='me-auto')
        ul(class='navbar-nav')
          li(class='nav-item')
            // Redirect the user to the index page.
            a(class='nav-link' href='./') Menu 
          li(class='nav-item')
            // Redirect the user to the watchlist page.
            a(class='nav-link' href='./watchlist') Watchlist
      
      div
        ul(class='navbar-nav')
          li(class='nav-item')
            button(type='button' id='colorbtn' class='nav-link btn btn-secondary') Color Toggle
          li(class='nav-item')
            // Redirect the user to the login page. 
            - if (currentUser) {
            a(class='nav-link' href='./logout') Logout
            - } else {
            a(class='nav-link' href='./login') Login
            - }

  footer(class='border-top fixed-bottom bg-body')
    div(class='d-flex container-fluid justify-content-end')
      p(class='mb-1') By James Rose

  script(src="../javascripts/navbar.js")