extends layout

block content
  main
    form(action="/login" method="POST") 
      p
        label(for="username") Username / Email:
        input(type="text" name="username" id="username" placeholder="Username" autocomplete="username")

      p
        label(for="password") Password:
        input(type="password" name="password" id="password" placeholder="Password" autocomplete="password")

      button Login

    p Don't have an account? 
    a(href='register') Go to Registration      

block styles
  link(rel='stylesheet', href='/stylesheets/login.css')

block scripts
    