extends layout

block content
  main
    form(action="/register" method="POST") 
      p
        label(for="username") Username:
        input(type="text" name="username" id="username" placeholder="Username")

      p
        label(for="email") Email:
        input(type="text" name="email" id="email" placeholder="Email")

      p
        label(for="password") New Password:
        input(type="password" name="password" id="password" placeholder="Password")

      p
        label(for="passwordConfirmation") Confirm Password:
        input(type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password")
      
      button Register

    p Already have an account?
    a(href='login') Go to Login
        

block styles
  link(rel='stylesheet', href='/stylesheets/login.css')

block scripts
    