main {
    margin: 75px auto;
    width: 350px;
    height: 250px;
    align-items: center;
    justify-content: center;
    background-color: #8b8c89;
    display: flex;
    flex-wrap: wrap;
}

input {
    width: 100%;
}

.hidden {
    display: none;
}